<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Страница пользователя</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div class="auth-container">
    <!-- Приветствие -->
    <h2 th:text="${welcomeMessage}">Страница пользователя</h2>

    <!-- Ошибка -->
    <div th:if="${error}" class="alert alert-error" th:text="${error}">
        Ошибка загрузки данных пользователя!
    </div>

    <!-- Профиль -->
    <div th:if="${user != null}">
        <p><strong>Логин:</strong> <span th:text="${user.username}">user</span></p>
    </div>


    <div th:if="${authorities != null and !#lists.isEmpty(authorities)}" style="margin-top:10px;">
        <p><strong>Роли:</strong>
            <span th:each="a, s : ${authorities}"
                  th:text="${a.authority + (s.last ? '' : ', ')}">ROLE_USER</span>
        </p>
    </div>

    <!-- Кнопки -->
    <div class="button-group">
        <form th:action="@{/logout}" method="post">
            <input type="hidden" th:if="${_csrf != null}"
                   th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit" class="back-btn">Выйти</button>
        </form>


        <a class="register-btn" th:href="@{/admin/dashboard}">Перейти в админку</a>
    </div>
</div>

</body>
</html>
